Source: wasta-custom-ssg
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5

Package: wasta-custom-ssg
Architecture: all
Depends: xmlstarlet, ${shlibs:Depends}, ${misc:Depends}
Recommends: goldendict, ibus-kmfl, kmfl-keyboard-ipa, wasta-resources-ssg
Description: Wasta-Linux SSG customization
 Sets up machine for Wasta-Linux SSG use.
